{% extends 'index.html' %}

{% block titulo %}
Nuevo post
{% endblock titulo %}

{% block contenido %}
<br>
<br>
<br>
<br>
<div class="row" >
    <div class="container px-4 px-lg-">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-sm-10 col-md-4">
                <div class="text-center">
                    <h1 class="display-6 my-3" >NUEVO POST</h1>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <div class="mt-5 mb-4">
                            <div class="mb-2">
                                <a>Titulo: </a>
                            </div>
                            {{form.titulo}}
                        </div>
                        <div class="mt-4 mb-4">
                            <div class="mb-2">
                                <a>Contenido: </a>
                            </div>
                            <div>
                                {{form.contenido}}
                            </div>
                            <div class="mt-4">
                                <div class="mb-2">
                                    <a>Permitir comentarios: </a>
                                </div>
                                <div class="form-switch">
                                    {{form.permitir_comentarios}}
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="mb-2">
                                    <a>Selecciona una categoria: </a>
                                </div>
                                {{form.categoria}}
                            </div>
                            <div class="mt-4 mb-4">
                                <div class="mb-2">
                                    <a>Selecciona una imagen: </a>
                                </div>
                                Imagen: {{form.imagen}}
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5 mb-5">
                        <a href="{% url 'inicio' %}" class="btn btn-outline-primary">Cancelar</a>
                        <input class="btn btn-outline-primary" type='submit' value="Guardar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}