{% extends 'index.html' %}

{% block titulo %}
Borrar post
{% endblock titulo %}

{% block contenido %}
<br>
<br>
<br>
<br>    
<div class="container px-4 px-lg-">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="text-center">
            <h1 class="display-6 my-3" >BORRAR POSTS</h1>

            <h2>{{post.titulo}}</h2>
            <form action="{% url 'borrar_post' post.id %}" method="POST">
                {% csrf_token %}
                <p>Desea confirmar la eliminacion del post {{post.titulo}}?</p>
                <a class="btn btn-outline-primary" href="{% url 'ver_post' post.id %}">Cancelar</a>
                <input class="btn btn-outline-primary" type="submit" value="Aceptar">
            </form>

{% endblock contenido %}