{% extends 'index.html' %}

{% block titulo %}
Posts
{% endblock titulo %}

{% block contenido %}
<br>
<br>
<br>
<br>

<form method = "GET" action=""> 
    {{search_form}}
    <input type='submit'>
</form>

    <div class="row">

        {% for post in posts %}
            <div class="col-sm-6 col-md-4">
                <div class="card">
                        {% if post.imagen.url == 'media/imagen' %}
                        {% load static %}
                            <img src="{% static 'imagen.jpg' %}" class="card-img-top" height="200px" alt="{{post.titulo}}">
                        {% else %}
                            <img src="{{post.imagen.url}}" class="card-img-top" height="200px" alt="{{post.titulo}}">
                        {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.titulo }}</h5>
                        <a href="{%url 'perfil' post.autor.id %}">{{ post.autor }}</a>
                        <div class="mb-2">
                            
                            <p class="post-meta">
                                    {{post.fecha_creado|date:"d-m-y h:i a"}}
                                </p>
                            
                        </div>
                        <a href="{%url 'ver_post' post.id%}" class="btn btn-outline-primary">Ver más</a>
                    </div>
                </div>
                </div>
            {% endfor %}
                </div>
                <div class="mt-3">
                    {% if posts.has_next %}
                        <div>
                            <a href="?page={{posts.next_page_number}}" class="btn btn-outline-secondary">Siguiente</a>
                        </div>
                    {% endif %}
                    {% if posts.has_previous %}
                        <div>
                            <a href="?page={{posts.previous_page_number}}" class="btn btn-outline-secondary">Anterior</a>
                        </div>
                    {% endif %}

    {% endblock contenido %}