{% extends 'index.html' %}

{% block titulo %}
Posts
{% endblock titulo %}

{% block contenido %}

    <h2>POSTS</h2>

    {% for post in lista_posts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{%url 'ver_post' post.id%}">
                            <h2 class="post-title">{{post.titulo}}</h2>
                            <h3 class="post-subtitle">aca no se que iria</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{post.autor}}</a>
                            {{post.fecha_creado}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
    {% endfor %}

{% endblock contenido %}