{% extends 'index.html' %}

{% block titulo %}
Post
{% endblock titulo %}

{% block contenido %}

<header class="masthead" style="background-image: url('{{post.imagen.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1> {{post.titulo}} </h1>
                    <h2 class="subheading"><a href="/posts/?titulo=&orden=nuevo&categoria={{post.categoria.id}}">{{post.categoria}}</a></h2>
                    <span class="meta">
                        <h7>Posteado por <a style="property:value;" href="{%url 'perfil' post.autor.id %}">{{post.autor}}</a> {{post.fecha_creado}}
                        </h7>
                        <p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
 <!-- Post Content-->
 <article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{post.contenido}}</p>


    {% if post.autor == user %}
        <a href="{%url 'editar_post' post.id %}">Editar post</a><br>
        <a href="{%url 'borrar_post' post.id %}">Borrar post</a><br>
    {%endif%}
    {% if post.permitir_comentarios %}
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'comentar' post.id %}">
                {% csrf_token %}
                <div class="row">
                <div class="input-field col s12">
                    <br>
                    <h7>Realiza un Comentario:</h7>
                    <br>
                    <div class="mb-3">
                        {{ form_comentario.mensaje }}
                    </div>


                </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input type="submit" class="btn btn-outline-primary" value="Comentar">
                </div>
            </form>
        {% else %}

        
            <div class="post-preview">
                <div class="post-meta">
                    <h7>Es necesario</h7>
                    <b><a href="/login/?next=/post/{{post.id}}">iniciar sesión</a></b>
                    <h7>para realizar comentarios.</h7>
                </div>
            </div>

        {% endif %}
        
        <br>
        {% if cantidad_comentarios > 0 %}
            <h6>COMENTARIOS:</h6>
            {% for comentario in comentarios %}
              <div class="card">
                <div class="card-body">
                  <a href="{%url 'perfil' comentario.username.id %}"><h5 class="card-title">{{comentario.username}}</h5></a>
                  <p class="card-text">{{comentario.mensaje}}</p>
                  <p class="card-text"><small class="text-muted">{{comentario.fecha_creacion}}</small></p>
                </div>
              </div>
            {% endfor %}
        {% else %}
            <h7>Nadie ha comentado.</h7>
        {% endif %}
    {% else %}
        <h7>No se permiten comentarios para este post.</h7><br>
    {% endif %}


{% endblock contenido %}