<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{post.titulo}}</h2>
    {#<p>{{post.imagen}}</p> esto esta comentado #}
    <p>{{post.contenido}}</p>
    <p>Fecha de creacion: {{post.fecha_creado}}</p>
    <p>Ultima modificacion: {{post.fecha_modificado}}</p>
    <p>Categoria: {{post.categoria}}</p>

    <a href="{%url 'editar_post' post.id %}"><p>Editar post</p></a>
    
    <a href="{%url 'borrar_post' post.id %}"><p>Borrar post</p></a>

    <a href="{%url 'listar_posts' %}"><p>Volver a lista de posts</p></a>
</body>
</html>