{% extends "templates/base.html" %}
{% block title %}Registro completado{% endblock %}
{% block contenido %}
 <main role="main" class="container">

    <div class="starter-template">
    <h1>Tu usuario ha sido creado con exito</h1>
    <p class="lead">Si la página no es redirigida en 5 segundos pulsa <a href="{% url 'login' %}">aquí</a></p>
    </div>

</main>
<script>
    setTimeout(function(){ 
        window.location.replace("{% url 'login' %}");
    }, 5000);
</script>
{% endblock contenido %} 