{% extends 'index.html' %}

{% block titulo %}Editar Usuario{%endblock%}

{% block contenido %}
<br>
<br>

<div class="row mt-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-sm-10 col-md-3">
                <form action="" method="POST">
                    <div class="text-center">
                        <h3 class="display-6 mt-3">CAMBIAR CONTRASEÑA</h3>
                    </div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center mt-5 mb-5">
                        <a href="{% url 'editar_usuario'%}" class="btn btn-outline-primary">Cancelar</a>
                        <input class="btn btn-outline-primary" type="submit" value="Confirmar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock contenido%}