{% extends 'index.html' %}

{% block titulo %}editar usuario{%endblock%}

{% block contenido %}
<br>
<br>
<br>
<div class="row mt-5">
   <div class="container px-4 px-lg-5">
       <div class="row gx-4 gx-lg-5 justify-content-center">
           <div class="col-sm-10 col-md-3">
               <h3 class="display-6 mt-3">Editar Perfil</h3>
               <form method="POST" action="">
                  {%  csrf_token %}
                  <div class="form-group mt-4">
                     <label for="{{ form.username.id_for_label }}">Usuario</label>
                     <input type="text" class="form-control text-muted" placeholder="{{form.username}}
                  </div>
                  <div class="form-group  mt-3">
                     <label for="{{ form.first_name.id_for_label }}">Nombre</label>
                     <input type="text" class="form-control text-muted" name="{{form.first_name.html_name}}" placeholder="{{form.first_name}}
                  </div>
                  <div class="form-group mt-3">
                     <label for="{{ form.last_name.id_for_label }}">Apellido</label>
                     <input type="text" class="form-control text-muted" name="{{form.last_name.html_name}}" placeholder="{{form.last_name}}
                  </div>
                  <div class="mt-3">
                        <a href="{% url 'editar_clave' %}">Cambiar contraseña</a>
                  </div>
                  <div class="unstyled mt-4">
                     <small class="form-text text-danger">{{form.errors}}</small>
                  </div>
                  <div class="text-center mt-4">
                     <a href="{% url 'perfil' user.id %}" class="btn btn-outline-primary">Cancelar</a>
                     <input class="btn btn-outline-primary" type="submit" value="Guardar">
                  </div>
               </form>

            </div>
        </div>
    </div>
{% endblock %}
