{% extends 'index.html' %}

{% block titulo %}editar usuario{%endblock%}

{% block contenido %}
<br>
<br>
<br>
   <div class="row mt-5">
      <div class="col-sm-1 col-md-2"></div>
         <div class="col-sm-10 col-md-8">
            <h1>Editar Perfil</h1>
            <form method="POST" action="">
               {%  csrf_token %}
               
                     <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Usuario</label>
                        <input type="text" class="form-control" placeholder="{{form.username}}">
                        <br>
                     </div>
                     <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}">Nombre</label>
                        <input type="text" class="form-control" name="{{form.first_name.html_name}}" placeholder="{{form.first_name}}">
                     </div>
                     <br>
                     <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}">Apellido</label>
                        <input type="text" class="form-control" name="{{form.last_name.html_name}}" placeholder="{{form.last_name}}">
                     </div>
                     <br>
                     <p class="mt-4" > <a href="{% url 'editar_clave' %}">Cambiar contraseña</a></p>
                     <div class="unstyled">
                        <small class="form-text text-danger">{{form.errors}}</small>
                     </div>
                     <br>
               <input type="submit" class="btn btn-primary mt-4" value="Guardar">
            </form>
        </div>
    </div>
{% endblock %}
