{% extends 'index.html' %}
{%block titulo%}
Sobre nosotros
{%endblock titulo%}

{% block contenido %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/dist/assets/img/sobre_nosotros.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1 class="display-6 mt-3">SOBRE NOSOTROS</h1>
                    <span class="subheading">Informatorio2021</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Somos un grupo del informatorio 2021, aplicando lo aprendido en el curso. <br>
                Como proyecto final, realizamos un blog con tematica orientada a los 17 ODS de la ONU.  </p>
                <hr class="my-3" />
                    aqui va el video
                <hr class="my-3" />
                <p>Integrantes del grupo: <br><br> 
                    <a href="https://github.com/danim78">MARTÍN, Enrique Daniel</a> <br> 
                    <a href="https://github.com/Cristian-Javier">LA FUENTE, Cristian Javier</a> <br> 
                    <a href="https://github.com/Hiirbaf">CÓRDOBA, Fabricio</a><br>
                    <a href="https://github.com/b4ngi">BENETUCCI, Ignacio</a><br>
                    <a href="https://github.com/PabloColetti">COLETTI, Pablo</a></p>
            </div>
        </div>
    </div>
</main>
{% endblock contenido %}