{% extends 'base.html' %}

{% block titulo %}
blog_ONU-ODS - Inicio
{% endblock titulo %}

{% block contenido %}
<h1>Esta es la página de inicio del blog_ONU-ODS</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus tenetur tempore necessitatibus amet, sunt ipsum sequi aperiam quae molestiae maiores reprehenderit nihil, blanditiis recusandae atque accusantium? Omnis tempore illo quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero rem inventore soluta tempore at repellendus optio reprehenderit nesciunt dolor, quidem fugit labore reiciendis praesentium nihil ad? Omnis voluptate ab ipsam.
</p>
{% endblock contenido %}